microservice-chart:
  namespace: "payhub"
  nameOverride: ""
  fullnameOverride: ""

  startupProbe:
    create: true
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10

  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 5
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    port: 8080

  ingress:
    create: true
    path: /p4pasendnotification/(.*)

  serviceAccount:
    create: false
    annotations: {}
    name: ""

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534

  persistentVolumeClaimsMounts:
    create: true
    mounts:
      - name: share
        pvcName: mypay-fileshare-pvc
        mountPath: "/shared"

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

  envConfig:
    APPLICATIONINSIGHTS_ROLE_NAME: "p4pa-send-notification"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    ENABLE_AUDIT_APPENDER: "TRUE"

    SHARED_FOLDER_ROOT: "/shared"

    ORGANIZATION_BASE_URL: "http://p4pa-organization-microservice-chart:8080"
    WORKFLOW_HUB_BASE_URL: "http://p4pa-workflow-hub-microservice-chart:8080"
    DEBT_POSITION_BASE_URL: "http://p4pa-debt-positions-microservice-chart:8080"
    PDND_BASE_URL: "http://p4pa-pdnd-services-microservice-chart:8080"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-connection-string
    JWT_TOKEN_PUBLIC_KEY: jwt-public-key
    MONGODB_URI: mongodb-connection-string
    PU_SEND_API_KEY: piattaforma-unitaria-send-api-key
    FILE_ENCRYPT_PASSWORD: file-encrypt-password

    CITIZENDB_HOST: db-host
    CITIZENDB_USER: db-mypay-login-username
    CITIZENDB_PASSWORD: db-mypay-login-password

    DATA_CIPHER_ENCRYPT_PASSWORD: data-cipher-encrypt-password
    DATA_CIPHER_HASH_PEPPER: data-cipher-hash-pepper

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}
