microservice-chart:
  namespace: "payhub"
  nameOverride: ""
  fullnameOverride: ""

  startupProbe:
    create: true
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10

  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 5
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    port: 8080

  ingress:
    create: true
    path: /p4pacie/(.*)

  serviceAccount:
    create: false
    annotations: {}
    name: ""

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

  externalConfigMapValues:
    eventhub-config:
      KAFKA_CONFIG_SECURITY_PROTOCOL: p4pa-payhub-security-protocol
      KAFKA_CONFIG_SASL_MECHANISM: p4pa-payhub-sasl-mechanism
      KAFKA_TOPIC_PAYMENTS: p4pa-payhub-payments-topic

  envConfig:
    APPLICATIONINSIGHTS_ROLE_NAME: "p4pa-cie"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    ENABLE_AUDIT_APPENDER: "TRUE"

    AUTH_SERVER_BASE_URL: "http://p4pa-auth-microservice-chart:8080"
    DEBT_POSITIONS_BASE_URL: "http://p4pa-debt-positions-microservice-chart:8080"
    ORGANIZATION_BASE_URL: "http://p4pa-organization-microservice-chart:8080"

    DEBT_POSITION_CIE_EXPIRATION_DAYS: "5"

    MEF_IBAN: "IT49K0100003245BE00000003QS"
    MEF_FISCAL_CODE: "80415740580"
    MEF_NAME: "Ministero dell'Economia e delle Finanze"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-connection-string

    KAFKA_BINDER_BROKER: p4pa-payhub-kafka-broker
    KAFKA_PAYMENTS_SASL_JAAS_CONFIG: p4pa-payhub-payments-evh-consumer-jaas-config

    CIE_DB_HOST: db-host
    CIE_DB_USER: db-piattaforma-unitaria-login-username
    CIE_DB_PASSWORD: db-piattaforma-unitaria-login-password
    P4PA_AUTH_CLIENT_SECRET: piattaforma-unitaria-client-secret

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}
