microservice-chart:
  namespace: "payhub"
  nameOverride: ""
  fullnameOverride: ""

  startupProbe:
    create: true
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 30
    failureThreshold: 15
    periodSeconds: 10

  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 5
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    port: 8080

  ingress:
    create: true
    path: /p4paworkflowhub/(.*)

  serviceAccount:
    create: false
    annotations: {}
    name: ""

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

  externalConfigMapValues:
    eventhub-config:
      KAFKA_CONFIG_SECURITY_PROTOCOL: p4pa-payhub-security-protocol
      KAFKA_CONFIG_SASL_MECHANISM: p4pa-payhub-sasl-mechanism
      KAFKA_TOPIC_PAYMENTS: p4pa-payhub-payments-topic
      KAFKA_TOPIC_DATA_EVENTS: p4pa-payhub-data-events-topic

  envConfig:
    APPLICATIONINSIGHTS_ROLE_NAME: "p4pa-workflow-hub"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    ENABLE_AUDIT_APPENDER: "TRUE"

    TEMPORAL_SERVER_ENABLE_HTTPS: "false"
    TEMPORAL_SERVER_HOST: "temporal-frontend.temporal.svc.cluster.local"
    TEMPORAL_SERVER_PORT: "7233"

    AUTH_BASE_URL: "http://p4pa-auth-microservice-chart:8080/payhub"
    ORGANIZATION_BASE_URL: "http://p4pa-organization-microservice-chart:8080"
    DEBT_POSITION_BASE_URL: "http://p4pa-debt-positions-microservice-chart:8080"
    PROCESS_EXECUTIONS_BASE_URL: "http://p4pa-process-executions-microservice-chart:8080"
    CLASSIFICATION_BASE_URL: "http://p4pa-classification-microservice-chart:8080"

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-connection-string
    JWT_TOKEN_PUBLIC_KEY: jwt-public-key

    AUTH_CLIENT_SECRET: piattaforma-unitaria-client-secret

    MAIL_USERNAME: mail-username
    MAIL_PASSWORD: mail-password

    KAFKA_BINDER_BROKER: p4pa-payhub-kafka-broker
    KAFKA_PAYMENTS_SASL_JAAS_CONFIG: p4pa-payhub-payments-evh-consumer-jaas-config
    KAFKA_PAYMENTS_PRODUCER_SASL_JAAS_CONFIG: p4pa-payhub-payments-evh-producer-jaas-config
    KAFKA_DATA_EVENTS_PRODUCER_SASL_JAAS_CONFIG: p4pa-payhub-data-events-evh-producer-jaas-config

    WORKFLOW_HUB_DB_HOST: db-host
    WORKFLOW_HUB_DB_USER: db-piattaforma-unitaria-login-username
    WORKFLOW_HUB_DB_PASSWORD: db-piattaforma-unitaria-login-password

    CIPHER_DP_SYNC_WF_CONFIG_ENCRYPT_PSW: dp-sync-wf-config-encrypt-password

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}
